@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --highlight: #b2d6ca;
    --light: #70a48d;
    --neutral: #365a4c;
    --dark: #1d3c2a;
    --shadow-accent: #1d3c2a58;
    --shadow: #07140c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', sans-serif;
    color: var(--highlight);
    background-color: black;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: black;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
main#aboutpage{
    height: 100%;
}
main#homepage::before,
main#aboutpage::before,
main#workpage::before,
main#contactpage::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    filter: blur(20px) brightness(0.5);
    background-size: cover;
    background-repeat: no-repeat;
}
main#homepage::before {
    background-image: url(/assets/images/website-background.jpg);
}
main#aboutpage::before {
    background-image: url(/assets/images/background2.jpg);
}
main#workpage::before {
    background-image: url(/assets/images/background3.jpg);
}
main#contactpage::before {
    background-image: url(/assets/images/background4.jpg);
}
.heading-hr {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #b2d6ca18, transparent);
}
.content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px;
}
.content-container{
    p{
        text-align: left;
        margin: .6em 0;
    }
    h1{
        margin: 3em auto;
    }
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1100px;
    background-color: #07140c86;
    padding: 0 5em;
    padding-bottom: 3em;
    margin-top: 5em;
    border-radius: 30px;
    backdrop-filter: blur(70px) brightness(2);
    box-shadow: rgba(0, 0, 0, 0.255) 0 0 50px;
}
main > p{
    margin-top: 1em;
    text-align: left;
}
a{
    color: green;
}
footer{
    position: relative;
    z-index: 500;
    background-color: #07140c86;
    padding: 3em 0;
    width: clamp(800px, 80%, 1100px);
    margin-top: 3em;
    border-radius: 30px 30px 0 0;
    backdrop-filter: blur(70px) brightness(2);
    box-shadow: rgba(0, 0, 0, 0.255) 0 0 50px;
}
div#footer:not(.homepage) {
    align-self: center;
    display: flex;
    width: clamp(800px, 80%, 1100px);
    justify-content: center;
    margin-top: 3em;
}
div#footer.homepage footer{
    background-color: transparent;
    position: absolute;
    backdrop-filter: unset;
    box-shadow: unset;
    width: unset;
    margin: 3em auto;
    padding: unset;
    transform: translateX(-50%);
    bottom: 0;
}
div#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    background-color: #07140c7b;
    border-bottom: 1px solid var(--shadow-accent);
    box-shadow: rgba(0, 0, 0, 0.651) 0 0 5em 2em;
    backdrop-filter: blur(10px);
}
nav *{
    z-index: 50;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    display: flex;
}
nav .home-li{
    margin-right: auto;
}
nav a{
    display: flex;
    text-decoration: none;
    color: var(--highlight);
    padding: 1em 2em;
    transition: background-color 150ms ease-in-out;
}
nav a:hover{
    background-color: var(--dark);
}
nav a.accent-link{
    background-color: var(--light);
    color: var(--shadow);
}
nav a.accent-link:hover{
    background-color: var(--highlight);
}
nav a.accent-link:active{
    background-color: var(--light);
}
nav a.active-link{
    border-bottom: 2px solid var(--highlight);
}
nav a:active:not(nav a.accent-link:active){
    background-color: var(--shadow);
}
button#open-sidebar-button,
button#close-sidebar-button{
    display: none;
    opacity: 0;
    transition: 300ms ease;
    fill: var(--highlight);
    background: none;
    border: none;
    padding: .5em;
    margin: .75em;
    margin-left: auto;
    cursor: pointer;
    border-radius: 10px;
    z-index: 10;
}
button#open-sidebar-button:active{
    background-color: var(--highlight);
    fill: var(--shadow);
}
button#close-sidebar-button:active{
    background-color: var(--highlight);
    fill: var(--shadow);
}
button#close-sidebar-button{
    fill: var(--highlight);
}
#overlay{
    background: rgba(0, 0, 0, 0.542);
    position: fixed;
    inset: 0;
    z-index: 9;
    opacity: 0;
    transition: opacity 300ms ease-out;
    backdrop-filter: blur(10px);
    pointer-events: none;
    display: none;
}
span.italic{
    font-style: italic;
}
#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 3em;
    border: 1px solid #365a4c19;
    max-width: 750px;
    padding: 2em;
    border-radius: 20px;
    margin: 2em auto;
}
#contact-form-prompt{
    text-align: center;
    margin: 1em auto;
}
textarea{
    min-width: 200px;
    min-height: 100px;
    max-height: 300px;
    max-width: 700px;
}
textarea,
input{
    background-color: #0e1f1578;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: .5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--highlight);
    font-size: 1rem;
    transition: border-color 100ms ease;
    &:focus{
        outline: none;
        border-color: var(--neutral);
        box-shadow: rgba(0, 0, 0, 0.429) 0 0 10px;
        background-color: #1d3c2a;
    }
}
.submit{
    font-weight: 600;
    transition: background-color 50ms ease, color 50ms ease;
    cursor: none;
    &:hover{
        cursor: pointer;
        background-color: var(--neutral);
        color: var(--shadow)
    }
    &:active{
        background-color: var(--dark);
        color: var(--light);
        border-color: transparent;
    }
}
fieldset.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
    padding: 1em; 
}
div.fieldset-wrapper.gradient-border-a {
    border: none;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
div.project-tile {
    border-radius: 20px;
    border: 2px solid transparent;
    transition: 50ms ease;
    .project-tile-thumb {
        width: 300px;
        height: 200px;
    }
    .project-tile-title {
        background-color: #0e1f15;
        padding: 1em;
    }
    a {
        text-decoration: none;
        color: var(--highlight);
        font-weight: 600;
    }
    overflow: hidden;
    margin: 1em;
    &:hover {
        transform: translateY(-5px);
        box-shadow: #70a48d25 0 0 15px;
        border-color:#44856f96
    }
}

#contact-title {
    margin-bottom: 0.5em;
}

@media screen and (max-width: 550px){
    main{
        padding: min(2rem, 100%);
    }
    button#open-sidebar-button{
        display: block;
        opacity: 1;
    }
    button#close-sidebar-button{
        display: block;
    }
    nav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid var(--shadow-accent);
        transition: right 300ms ease-out;
    }
    nav.show{
        right: 0;
    }
    nav ul{
        width: 100%;
        flex-direction: column;
    }
    nav a{
        width: 100%;
        padding-left: 2.5em;
    }
    nav a.active-link{
        border-bottom: none;
    }
    nav .home-li{
        margin-right: unset;
    }
}