
.canvas-container{
    color: white;
    font-family: monospace;
    margin: 5rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}
#healthbar-timer-container{
    margin-top: 1em;
    width: 100%;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 3em;
    font-weight: 900;
}
.healthbar-wrapper{
    border-radius: 50px;
    display: flex;
    position: relative;
    background: transparent;
    border: 2px solid white;
    height: 30px;
    width: 100%;
    margin: 1em;
    overflow: hidden;
}
.healthbar{
    position: absolute;
    height: 100%;
    background-color: yellow;
    width: 100%;
    transition: width 100ms ease;
    
}
#player-health-wrapper{
    justify-content: flex-end;
}
#enemy-health-wrapper{
    justify-content: flex-start;
}
#results-div{
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
#results-banner{
    opacity: 0;
    transition: opacity 300ms ease;
    width: 100%;
    height: 20%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#names-container{
    position: absolute;
    width: 95%;
    height: 30%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}