
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');
.canvas-container{
    color: white;
    font-family: 'Tiny5', monospace;
    margin: 5rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}
#healthbar-timer-container{
    margin-top: 1em;
    width: 100%;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#timer{
    border: 2px solid rgba(255, 255, 255, 0.319);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.422);
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 2em;
    font-weight: 900;
}
.healthbar-wrapper{
    border-radius: 50px;
    display: flex;
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.204);
    height: 30px;
    width: 100%;
    margin: 1em;
    overflow: hidden;
}
.healthbar{
    position: absolute;
    height: 100%;
    background-color: #22C55E;
    width: 100%;
    transition: width 30ms ease;
    overflow: hidden;
    z-index: 10;
}
.healthbar-backdrop{
    position: absolute;
    height: 100%;
    background-color: #B91C1C;
    width: 100%;
    z-index: 1;
}
#player-health-backdrop{
    display: flex;
    justify-content: flex-end;
}
#player-health-wrapper{
    justify-content: flex-end;
}
#enemy-health-wrapper{
    justify-content: flex-start;
}
#results-div{
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
#results-banner{
    opacity: 0;
    transition: opacity 300ms ease;
    width: 100%;
    height: 20%;
    background: rgba(94, 24, 9, 0.46);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.244) 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#names-container{
    text-transform: uppercase;
    position: absolute;
    width: 95%;
    height: 2%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}